<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>Income A</mat-label>
  <input matInput placeholder="0" [(ngModel)]="incomeA" type="number">
</mat-form-field><br>
<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>IncomeA Pretax Deductions</mat-label>
  <input matInput placeholder="0" [(ngModel)]="incomeAPreTaxDeductions" type="number">
</mat-form-field><br>
<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>IncomeA Posttax Deductions</mat-label>
  <input matInput placeholder="0" [(ngModel)]="incomeAPostTaxDeductions" type="number">
</mat-form-field><br>
<br>
<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>Income B</mat-label>
  <input matInput placeholder="0" [(ngModel)]="incomeB" type="number">
</mat-form-field><br>
<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>IncomeB Pretax Deductions</mat-label>
  <input matInput placeholder="0" [(ngModel)]="incomeBPreTaxDeductions" type="number">
</mat-form-field><br>
<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>IncomeB Posttax Deductions</mat-label>
  <input matInput placeholder="0" [(ngModel)]="incomeBPostTaxDeductions" type="number">
</mat-form-field><br>
<br>
Federal Tax: {{tax?.federalTax | currency}}<br>
State Tax: {{tax?.stateTax | currency}}<br>
Social Security: {{tax?.socialSecurityTax |currency}}<br>
Medicare: {{tax?.medicareTax | currency}}<br>
<br>
In the bank: {{netIncomeWithPostTaxDeductions | currency}}<br>
In the bank per month: {{netIncomeWithPostTaxDeductions / 12 | currency}}<br>

<button mat-button (click)="calculateTax()">Calculate Tax</button>
